.container{
    justify-content: center;
    margin-top: 10rem;
    background: url("../Assets/study_learn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-position: 30%;
 
}
.container img{
    width: 10rem;
    height: 10rem;
}
.inner{
  
    color: white;
    background-color: rgb(164, 71, 210);
    border-radius: 8px;
    text-decoration: none;
    /* display: flex;
    flex-direction: row; */
}