/* .container{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
}
.card{
    width: 30rem;
    height: 20rem;
} */



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .column {
    flex: 1;
  }
  
  .card {
    width: 300px; /* Adjust card width as needed */
    margin: 20px; /* Adjust card margin as needed */
  }
  .card img{
    width: 20rem;
    height: 15rem;
  }