.main_container{
    /* position: fixed; */
    bottom: 0;
    background-color: rgb(18, 12, 12);
    height: 30%;
    width: 100vw;
    color: white;
    /* margin-top: 60%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
@media(max-width:992px){
    /* margin-top: 470%; */
}
    .heading{
        display: flex;
        /* height: 100px;
        width: 100px; */
margin:2rem 0rem 2rem 2rem;
        & img{
            width: 80px;
            height: 80px;
        }
    }

    .sub_container{
        display: flex;
        margin: 1rem;
        flex-direction: row;
        color: white;
        & h3{
            color:#e0dbdb;

            font-weight: 80;
            font-size: 20px;
            line-height: 26px;
            margin: 3rem;
            text-align:justify;
        }
    }
.row{
    display: flex;
    flex-direction: row;
}
    .sub_container2{
        margin-top: 3rem;
        /* margin:0 5rem; */
        display: flex;
        flex-direction: row;
  justify-content: space-between;
margin-bottom: 3rem;
text-decoration: none;
& a{
    color: white;
    text-decoration: none;
}
@media(max-width:992px){
    margin: 2rem;
    /* margin-bottom:30px; */

}
    }
}

@media screen and (max-width: 992px) {
    .main_container {
      .heading {
        margin: 2rem 0rem 2rem 2rem;
      }
  
      .sub_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        & h3 {
          margin: 1rem;
          font-size: 16px;
          line-height: 22px;
        }
      }
  
      .sub_container2 {
        margin: 2rem;
        justify-content: center;
        & a {
          margin: 0 1rem;
        }
      }
    }
  }
  