
.container {
    max-width: 500px;
    margin: 0 auto 30px auto;
    padding: 20px;
    background-color: rgb(134, 206, 236);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: start;
    transition: transform 0.3s ease; 
  }
  
  .container:hover {
    transform: translateY(-5px); 
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .input-wrapper {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease; 
  }
  
  input:focus {
    border-color: #007bff; 
  }
  
  .add-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .course {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .course-title {
    margin-top: 0;
  }
  
  .course-details {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 90%;
      margin: 0 auto 30px auto;
      padding: 20px;
    }
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  
    input {
      padding: 8px;
    }
  
    .add-button {
      padding: 8px;
    }
  
    .course-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }
  